*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#465771;
  color:white;
}


.navbar{
  height:70px;
  background:#050a18;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:0 70px;
}


.logo{
  font-size:28px;
  color:#00aaff;
}


.navlinks{
  display:flex;
  gap:35px;
}


.navlinks a{
  color:white;
}


.active{
  border-bottom:2px solid #00aaff;
}


.home{
  min-height:calc(100vh - 70px);
  display:flex;
  align-items:center;
  justify-content:space-around;
  padding:50px;
}


.left{
  width:45%;
}


.left h1{
  font-size:60px;
}


.left h1 span{
  color:#00aaff;
}


.left h2{
  font-size:30px;
  margin:15px 0;
}


.left p{
  color:#aaa;
  font-size:18px;
  line-height:1.6;
}


.buttons{
  margin-top:30px;
}


button{
  padding:15px 30px;
  border-radius:30px;
  margin-right:15px;
}


.hire{
  background:#00aaff;
  color:white;
  border:none;
}


.work{
  background:none;
  border:1px solid #00aaff;
  color:#00aaff;
}


.social{
  display:flex;
  gap:15px;
  margin-top:30px;
}


.social div{
  height:40px;
  width:40px;
  background:#182236;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
}


.circle{
  height:350px;
  width:350px;
  border-radius:50%;
  overflow:hidden;
}


.circle img{
  height:100%;
  width:100%;
  object-fit:cover;
}

.about,
.skills,
.projects,
.contact{

padding:80px;
text-align:center;

}



.about p{

color:#aaa;
max-width:700px;
margin:auto;
line-height:1.6;

}



.about-box{

display:flex;
justify-content:center;
gap:25px;
margin-top:40px;

}



.about-box div,
.skill-card,
.project-card{

background:#111827;
padding:25px;
border-radius:20px;

}




.skill-container,
.project-container{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;
margin-top:40px;

}



.skill-card{

width:150px;
color:#00eaff;

}



.project-card{

width:260px;

}



.project-card p{

color:#aaa;

}



.project-card button,
.contact button{

margin-top:20px;
padding:12px 25px;
border-radius:25px;
background:#00eaff;
border:none;

}



form{

max-width:500px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;

}



input,
textarea{

padding:15px;
border-radius:10px;
background:#111827;
border:1px solid #333;
color:white;

}


textarea{

height:120px;

}


.profile{

width:350px;
height:350px;
border-radius:50%;
object-fit:cover;

}

.project-container{

display:flex;
justify-content:center;
gap:30px;
flex-wrap:wrap;
margin-top:40px;

}


.project-card{

background:#111827;
width:280px;
padding:30px;
border-radius:20px;
text-align:center;

}



.project-card h2{

color:#00aaff;

}



.project-card p{

color:#aaa;
margin:15px 0;

}



.project-card button{

padding:12px 25px;
border-radius:25px;
background:#00aaff;
border:none;
color:white;
cursor:pointer;

}